*{ /*General style for pages*/
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body { /*Body style*/
    background-image: url(images/background1.png); /*Adding backround image*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*Scrollable*/
    height: 100vh;
}

a { /*Global link styling*/
    color: yellow;
    text-decoration: none;
}
a:hover {/*Global link styling*/
    text-decoration: underline;
}

.logo{/*Style for BrainGPT logo*/
    width: 240px;
    cursor: pointer;
}
.content{/*Style for content class: body text*/
    width: 100%;
    position: absolute;
    top: 20%;
    color: white;
    text-align: center;
    
}
.container{ /*Creating container class as a box to put text in*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container p.context{/*Style for content class: body text in paragraphs*/
    width: 50%;
    color: white;
    text-align: left;
}
.content h1{/*h1 styling*/
    font-size: 70px;
    margin-top: 50px;
}
.content h2{/*h2 styling*/
    font-size: 50px;
    margin-top: 20px;
}
.content p{/*paragraph styling*/
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    line-break: auto;
}


a.button {/*Link button styling. "a" prefix added to stop interference from link styling*/
    position: relative;
    display: inline-block;
    text-decoration: none;
    border: 2px solid lightgrey; /* Button border */
    border-radius: 15px;
    overflow: hidden;
    margin: 50px;
}

a.button span { /*Link button span container*/
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    position: relative;
    z-index: 1;
}

a.button::after {/*.button style after transformation (hover)*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgrey; /* Color when hovered */
    transform: translateX(-100%);
    transition: transform 0.5s; /* Transition time */
    z-index: 0;
    text-decoration: none;
}

a.button:hover::after {/*Adding hover transformation*/
    transform: translateX(0%);
    text-decoration: none;
}

.navbar{ /*Navbar position*/
    position: absolute;
    top: 0;
    right: 0;
}

.navbar ul{/*General style for pages*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}
.navbar li{/*List styling*/
    float: left;
}

.navbar li a{ /*Navbar Link style*/
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 2;
}

.navbar li a:hover{/*Navbar Link hover transformation (text underline)*/
    text-decoration: underline;
}

.news-item {
    padding: 20px;
    margin-bottom: 0px;  /* Space between news items */
}

.news-date {
    text-align: center;
    margin-bottom: 10px;  /* Space between title and text */
    font-weight: lighter;
    font-size: 18px;
}

.news-text {
    text-align: center;
    width: 100vh;
}

